# Ignore the node _modules directory
/node_modules
/Project_04 Currency_Converter

# Ignore any built TypeScript files (JavaScript output)
/dist

# Ignore editor/IDE_specific files and directories 
.vscode 
.idea
.DS_Store